<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multiversus simple tracker, let you see the stats about your live match including 
        MMR gained, character ranking, and opponents stats. 
        Also features your profile stats including: wins, ringouts, ranking (global and per character), and MMR.">
    <meta name="google-site-verification" content="Vfs1YZFuEZHDmaMqCX_Aejftyh1apdL2SkCqTuApSmU" />

    <link rel="icon" href="{{ request.app.url_path_for('static', path='/images/steven.jpg') }}" type="image/x-icon">

    <link href="{{ request.app.url_path_for('static', path='/style/index.css') }}" rel="stylesheet">

    <title>MuLIVErsus</title>
</head>

<body style="background-color: #BB2C76">
    <div id="main" class="login-box">
        <div class="login-box-formbox">
            <span>
                <img width="65px" style="border-radius: 40px;margin-top: 30px;"
                    src="{{ request.app.url_path_for('static', path='/images/steven.jpg') }}" /> &nbsp
                <img width="180px" src="{{ request.app.url_path_for('static', path='/images/multiversus.png') }}" /> &nbsp
                <a href="https://discord.gg/UjNgk77BmX" target="_blank"><img
                        src="{{ request.app.url_path_for('static', path='/images/discord_logo_short.png') }}"
                        alt="Discord server" style="height: 35px !important;"></a> &nbsp
                <a href="https://www.buymeacoffee.com/plsergent" target="_blank"><img
                        src="https://cdn.buymeacoffee.com/buttons/v2/arial-violet.png" alt="Buy Me A Coffee"
                        style="height: 35px !important;"></a>
            </span>

            <div class="login-box-login">
                <h1>MuLIVErsus</h1>
                <h2>Your Multiversus tracker.</h2>
                <form method="post">
                    <div>
                        <label for="username"> In game username</label>
                        <input for="username" class="input-username" type="text" name="username" spellcheck="false"
                            required />
                    </div>
                    <div>
                        <input onclick="loading()" type="submit" value="GET YOUR STATS" class="btn" />
                    </div>
                </form>
                <div class="alternate-text">About</div>
                <div class="alternate-boxes">
                    <div class="alternate-box">
                        <a href="https://github.com/PLsergent/MuLIVErsus">@plsergent <img width="18px"
                                src="{{ request.app.url_path_for('static', path='/images/github.png') }}"></a>
                    </div>
                    <div class="alternate-box">
                        <a href="https://github.com/AshladBP/MulpyVersus">@AshladBP <img width="18px"
                                src="{{ request.app.url_path_for('static', path='/images/github.png') }}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-box-quotebox">
            <div class="quote-container">
                <div class="quote">Live match tracker.</div>
                <h2 style="font-weight: 400; margin-top: 50px;">
                    <ul>
                        <li><b>Explore</b> your profile stats.</li>
                        <li><b>Spy</b> your opponents before the game starts.</li>
                        <li><b>Keep track</b> of the MMR gained or lost after each match.</li>
                    </ul>
            </div>
        </div>
    </div>
    <div id="loader" class="loader"></div>
</body>


<script>
    function loading() {
        document.getElementById("loader").style.display = "block";
        document.getElementById("main").style.display = "none";
    }
</script>