{% extends './base.html' %}

{% block content %}
<link href="{{ request.app.url_path_for('static', path='/style/live.css') }}" rel="stylesheet">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a onclick="loading()" href="/{{ user.get_account_id() }}">{{ username | title }}</a></li>
        <li class="breadcrumb-item active">{{ title }} &nbsp; <span class="text-success">Auto refresh: <span id="timer"></span></span><span onclick="location.reload()" class="badge bg-purple">Refresh now</span></li>
    </ol>
</nav>

<div class="card mb-4 live-card-title">
    <div class="card-body">
        <h5 class="card-title">Match {{ username | title }} </h5>
        <h1>
            {{ title }}
            {% if title.startswith('Live') %}
                <lord-icon
                    src="https://cdn.lordicon.com/qhgmphtg.json"
                    trigger="hover"
                    style="width:70px;height:70px">
                </lord-icon>
            {% elif title.startswith('Finished') %}
                <lord-icon
                    src="https://cdn.lordicon.com/lupuorrc.json"
                    trigger="hover"
                    style="width:70px;height:70px">
                </lord-icon>
            {% else %}
                <lord-icon
                    src="https://cdn.lordicon.com/iltqorsz.json"
                    trigger="hover"
                    style="width:70px;height:70px">
                </lord-icon>
            {% endif %}
        </h1>
    </div>
</div>
<div class="row">
    {% for player in players %}
        <div class="col-lg-6 mb-3">
            {% if player.rating_updates > 0 %}
            <div onclick="loading()" href="/{{ player.id }}" class="card live-card win-card">
            {% elif player.rating_updates < 0 %}
            <div onclick="loading()" href="/{{ player.id }}" class="card live-card loss-card">
            {% else %}
            <div onclick="loading()" href="/{{ player.id }}" class="card live-card">
            {% endif %}
                <div class="card-body">
                    <a href="/{{ player.id }}" class="h1 card-title stretched-link">{{ player.username }}</a>
                    <div class="row">
                        <div class="col-lg-4"><h4>{{ player.total_win }} <small class="text-muted">wins</small></h4></div>
                        <div class="col-lg-4"><h4>{{ player.total_win_percentage }}<small class="text-muted">%</small></h4></div>
                        <div class="col-lg-4"><h4>{{ player.total_ringouts }} <small class="text-muted">ringouts</small></h4></div>
                    </div>
                    <h4><small class="text-muted">{% if title.startswith('Finished') %}Played: {% else %}Best character:{% endif %}</small> {{ player.char }} <small class="text-dark">{{ player.score }}</small></h4>
                    <img class="mb-3" width="150px" src="{{ request.app.url_path_for('static', path='/characters/'+player.char+'.png') }}" alt="{{ player.char }}">
                    <div class="row">
                        {% if player.rating_updates > 0 %}
                            <div class="col-lg-5"><h3>{{ player.rating }} <small class="text-success">+{{ player.rating_updates }}</small><small class="text-muted"> mmr</small></h3></div>
                        {% elif player.rating_updates < 0 %}
                            <div class="col-lg-5"><h3>{{ player.rating }} <small class="text-danger">{{ player.rating_updates }}</small><small class="text-muted"> mmr</small></h3></div>
                        {% else %}
                            <div class="col-lg-5"><h3>{{ player.rating }}<small class="text-muted"> mmr</small></h3></div>
                        {% endif %}
                        <div class="col-lg-7"><h3><small class="text-muted">{% if title.startswith('Finished') %}Char rank:{% else %}Global rank:{% endif %}</small> {{ player.rank }}<small class="text-muted"> #</small></h3></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% block javascript %}
<script>
    function timer(seconds) {
        var expire_time = new Date().getTime() + seconds * 1000;
        
        var x = setInterval(function() {
            var now = new Date().getTime();
            var distance = expire_time - now;

            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            
            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
            
            // If the count down is over, write some text 
            if (distance <= 1000) {
                clearInterval(x);
                refresh();
            }
        }, 1000);
    }
    async function refresh() {
        fetch('/{{ user.get_account_id() }}/live').then(function (response) {
            // The API call was successful!
            return response.text();
        }).then(function (html) {
            // This is the HTML from our response as a text string
            document.querySelector('html').innerHTML = html
            timer(81);
        }).catch(function (err) {
            // There was an error
            console.warn('Something went wrong.', err);
        });
    }
    timer(81);
</script>
{% endblock %}

{% endblock %}