{% extends './base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{ username }}">{{ username | title }}</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
</nav>

<div class="card mb-5" style="border-radius: 0.5rem; border-left: 5px solid #e74b4b">
    <div class="card-body">
        <h5 class="card-title">Match {{ username | title }} </h5>
        <h1>
            {{ title }}
            {% if title.startswith('Live') %}
                <lord-icon
                    src="https://cdn.lordicon.com/qhgmphtg.json"
                    trigger="hover"
                    style="width:70px;height:70px">
                </lord-icon>
            {% elif title.startswith('Finished') %}
                <lord-icon
                    src="https://cdn.lordicon.com/lupuorrc.json"
                    trigger="hover"
                    style="width:70px;height:70px">
                </lord-icon>
            {% else %}
                <lord-icon
                    src="https://cdn.lordicon.com/iltqorsz.json"
                    trigger="hover"
                    style="width:70px;height:70px">
                </lord-icon>
            {% endif %}
        </h1>
    </div>
</div>
<div class="row" style="margin-bottom: 50px">
    {% for player in players %}
        <div class="col-lg-6 mb-3">
            <div class="card" style="border-radius: 0.5rem; border-left: 5px solid #000000">
                <div class="card-body">
                    <a href="/{{ player.id }}" class="h1 card-title">{{ player.username }}</a>
                    <div class="row">
                        <div class="col-lg-4"><h4>{{ player.total_win }} <small class="text-muted">wins</small></h4></div>
                        <div class="col-lg-4"><h4>{{ player.total_win_percentage }}<small class="text-muted">%</small></h4></div>
                        <div class="col-lg-4"><h4>{{ player.total_ringouts }} <small class="text-muted">ringouts</small></h4></div>
                    </div>
                    <h4><small class="text-muted">Best character:</small> {{ player.char_topranked }}</h4>
                    <img class="mb-3" width="150px" src="{{ url_for('static', path='/characters/'+player.char_topranked+'.png') }}" alt="{{ player.char_topranked }}">
                    <div class="row">
                        <div class="col-lg-4"><h4><small class="text-muted">{{ player.char_topranked }}</small></h4></div>
                        <div class="col-lg-4"><h3>{{ player.top_rating }} <small class="text-muted">mmr</small></h3></div>
                        <div class="col-lg-4"><h3>{{ player.rank }}<small class="text-muted">#</small></h3></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}