{% extends './base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ username | title }}</li>
    </ol>
</nav>

<div class="card mb-5" style="border-radius: 0.5rem; border-left: 5px solid #cb1ca5">
    <div class="card-body">
        <h5 class="card-title">{{ user.get_user_level() }} lvl</h5>
        <h1>{{ username | title }} <a href="/{{ user.get_account_id() }}/live" class="btn btn-secondary">Live <img width="25px" src="{{ host }}/static/live.png" alt=""></a></h1>
        <div class="row">
            <div class="col-lg-3"><h3>{{ total_win }} <small class="text-muted">wins</small></h3></div>
            <div class="col-lg-3"><h3>{{ total_loss }} <small class="text-muted">losses</small></h3></div>
            <div class="col-lg-3"><h3>{{ total_win_percentage }}<small class="text-muted">%</small></h3></div>
            <div class="col-lg-3"><h3>{{ user.get_total_ringouts() }} <small class="text-muted">ringouts</small></h3></div>
        </div>
    </div>
</div>

<h2 class="display-6">Top characters <img width="50px" src="{{ host }}/static/character.png"></img></h2>
<hr>
{% for name, char in top_characters.items() %}
{% if loop.index > 3 %}
<div class="collapse" id="charcollapse">
    <div class="row">
        <div class="col-lg-3">
            <h3><img height="40px" src="{{ host }}/static/characters/{{ name }}.png"> {{ name }}</h2>
        </div>
        <div class="col-lg-3"><h3>{{ char.wins }} <small class="text-muted">wins</small></h3></div>
        <div class="col-lg-3"><h3>{{ char.OvO_MMR }} <small class="text-muted">1's mmr</small></h3></div>
        <div class="col-lg-3"><h3>{{ char.TvT_MMR }} <small class="text-muted">2's mmr</small></h3></div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-3">
        <h3><img height="40px" src="{{ host }}/static/characters/{{ name }}.png"> {{ name }}</h2>
    </div>
    <div class="col-lg-3"><h3>{{ char.wins }} <small class="text-muted">wins</small></h3></div>
    <div class="col-lg-3"><h3>{{ char.OvO_MMR }} <small class="text-muted">1's mmr</small></h3></div>
    <div class="col-lg-3"><h3>{{ char.TvT_MMR }} <small class="text-muted">2's mmr</small></h3></div>
</div>
{% endif %}

{% endfor %}

{% if top_characters | length >  3 %}
<a class="btn btn-danger" data-bs-toggle="collapse" href="#charcollapse" role="button" aria-expanded="false" aria-controls="charcollapse">
    More ({{ top_characters | length }})
</a>
{% endif %}

<hr class="mb-5">

<h2 class="display-6">1v1 <img width="45px" src="{{ host }}/static/fight1.png"></img></h2>
<hr>
<div class="row">
    <div class="col-lg-3"><h3>{{ OneVsOne_infos.char }}</h2></div>
    <div class="col-lg-3"><h3>{{ OneVsOne_infos.rating }} <small class="text-muted">mmr</small></h2></div>
    <div class="col-lg-3"><h3>{{ OneVsOne_infos.rank }} <small class="text-muted">rank</small></h2></div>
    <div class="col-lg-3"><h3>{{ OneVsOne_infos.ranked_win }} <small class="text-muted">wins</small></h2></div>
</div>

<hr class="mb-5">

<h2 class="display-6">2v2 <img width="45px" src="{{ host }}/static/fight.png"></img></h2>
<hr>
<div class="row" style="margin-bottom: 100px;">
    <div class="col-lg-3"><h3>{{ TwoVsTwo_infos.char }}</h2></div>
    <div class="col-lg-3"><h3>{{ TwoVsTwo_infos.rating }} <small class="text-muted">mmr</small></h2></div>
    <div class="col-lg-3"><h3>{{ TwoVsTwo_infos.rank }} <small class="text-muted">rank</small></h2></div>
    <div class="col-lg-3"><h3>{{ TwoVsTwo_infos.ranked_win }} <small class="text-muted">wins</small></h2></div>
</div>

{% endblock %}