{% extends './base.html' %}

{% block content %}
<link href="{{ request.app.url_path_for('static', path='/style/profile.css') }}" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"/>
<link href="{{ request.app.url_path_for('static', path='/style/datatable.css') }}" rel="stylesheet">


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ username | title }}</li>
    </ol>
</nav>

<div class="card mb-4 profile-card">
    <div class="card-body">
        <a class="stretched-link" href="/{{ user.get_account_id() }}/live"><h2>{{ username | title }} <span>Live Tracker</span></h2></a>
        <div class="row mt-1">
            <div class="col-lg-2"><h4>{{ user.get_user_level() }} <small class="text-muted">lvl</small></h4></div>
            <div class="col-lg-2"><h4>{{ total_win }} <small class="text-muted">wins</small></h4></div>
            <div class="col-lg-2"><h4>{{ total_loss }} <small class="text-muted">losses</small></h4></div>
            <div class="col-lg-2"><h4>{{ total_win_percentage }}<small class="text-muted">%</small></h4></div>
            <div class="col-lg-2"><h4>{{ user.get_total_ringouts() }} <small class="text-muted">ringouts</small></h4></div>
            <div class="col-lg-2 text-white"><h4>Click here <i class="fa-solid fa-arrow-pointer"></i></h4></div>
        </div>
    </div>
</div>

<h3>Top characters <img width="30px" src="{{ request.app.url_path_for('static', path='/images/character.png') }}"></img></h2>
<hr>

<div class="table-responsive-lg">
<table id="characters" class="table table-hover table-borderless align-middle" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Wins</th>
            <th>1's mmr</th>
            <th>1's char rank</th>
            <th>2's mmr</th>
            <th>2's char rank</th>
        </tr>
    </thead>
    <tbody>
        {% for char in top_characters %}
            <tr>
                <td><img height="60px" src="{{ request.app.url_path_for('static', path='/characters_icons/'+char.name+'.png') }}"></td>
                <td><h4>{{ char.name }}</h4></td>
                <td><h4>{{ char.wins }}</h4></td>
                <td><h4>{{ char.OvO_MMR }}</h4></td>
                <td><h4>{{ char.OvO_rank }}</h4></td>
                <td><h4>{{ char.TvT_MMR }}</h4></td>
                <td><h4>{{ char.TvT_rank }}</h4></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<hr class="mt-4">

<h3>1v1 <img width="35px" src="{{ request.app.url_path_for('static', path='/images/fight1.png') }}"></img></h3>
<div class="row">
    <div class="col-lg-05">
        <img height="60px" src="{{ request.app.url_path_for('static', path='/characters_icons/'+OneVsOne_infos.char+'.png') }}">
    </div>
    <div class="col-lg-3"><h4>{{ OneVsOne_infos.char }}</h4></div>
    <div class="col-lg-2"><h4>{{ OneVsOne_infos.rating }} <small class="text-muted">mmr</small></h4></div>
    <div class="col-lg-3"><h4>{{ OneVsOne_infos.rank }} <small class="text-muted">global #</small></h4></div>
    <div class="col-lg-2"><h4>{{ OneVsOne_infos.ranked_win }} <small class="text-muted">wins</small></h4></div>
</div>

<hr class="mt-4">

<h3>2v2 <img width="35px" src="{{ request.app.url_path_for('static', path='/images/fight.png') }}"></img></h3>
<div class="row">
    <div class="col-lg-05">
        <img height="60px" src="{{ request.app.url_path_for('static', path='/characters_icons/'+TwoVsTwo_infos.char+'.png') }}">
    </div>
    <div class="col-lg-3"><h4>{{ TwoVsTwo_infos.char }}</h4></div>
    <div class="col-lg-2"><h4>{{ TwoVsTwo_infos.rating }} <small class="text-muted">mmr</small></h4></div>
    <div class="col-lg-3"><h4>{{ TwoVsTwo_infos.rank }} <small class="text-muted">global #</small></h4></div>
    <div class="col-lg-2"><h4>{{ TwoVsTwo_infos.ranked_win }} <small class="text-muted">wins</small></h4></div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

<script>
    jQuery(document).ready(function () {
        jQuery('#characters').DataTable({
            "buttons": [
                {
                    extend: 'searchPanes',
                    className: 'btn btn-danger'
                }
            ],
            "lengthMenu": [3, 5, 10]
        });
    });
</script>

{% endblock %}