{% extends './base.html' %}

{% block content %}
<link href="{{ request.app.url_path_for('static', path='/style/profile.css') }}" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"/>
<link href="{{ request.app.url_path_for('static', path='/style/datatable.css') }}" rel="stylesheet">
<link href="{{ request.app.url_path_for('static', path='/style/progress-bar.css') }}" rel="stylesheet">


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ username | title }}</li>
    </ol>
</nav>

<div class="row winrate">
    <div class="col-lg-10">
        <div onclick="loading()" class="card mb-4 profile-card">
            <div class="card-body">
                <a class="stretched-link" href="/{{ user.get_account_id() }}/live"><h2>{{ username | title }} <span>Live Tracker</span></h2></a>
                <div class="row mt-1">
                    <div class="col-lg-15"><h4>{{ user.get_user_level() }} <small class="text-muted">lvl</small></h4></div>
                    <div class="col-lg-2"><h4>{{ total_win }} <small class="text-muted">wins</small></h4></div>
                    <div class="col-lg-2"><h4>{{ total_loss }} <small class="text-muted">losses</small></h4></div>
                    <div class="col-lg-2"><h4>{{ total_win_percentage }}<small class="text-muted">%</small></h4></div>
                    <div class="col-lg-3"><h4>{{ user.get_total_ringouts() }} <small class="text-muted">ringouts</small></h4></div>
                    <div class="col-lg-1" style="text-align: right"><h4><i class="fa-solid fa-arrow-pointer"></i></h4></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <svg class="mt-2" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" data-value="{{ total_win_percentage }}">
            <circle r="45" cx="50" cy="50" />
            <!-- 282.78302001953125 is auto-calculated by path.getTotalLength() -->
            <path class="meter" d="M5,50a45,45 0 1,0 90,0a45,45 0 1,0 -90,0" stroke-linecap="round" stroke-linejoin="round" stroke-dashoffset="282.78302001953125" stroke-dasharray="282.78302001953125" />
            <!-- Value automatically updates based on data-value set above -->
            <text x="50" y="50" text-anchor="middle" dominant-baseline="central" font-size="20"></text>
        </svg>
    </div>
</div>


<h3>Top characters <img width="30px" src="{{ request.app.url_path_for('static', path='/images/character.png') }}"></img></h2>
<hr>

<div class="table-responsive-lg">
<table id="characters" class="table table-hover table-borderless align-middle" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Wins <i class="fas fa-trophy"></i></th>
            <th>1's mmr <i class="fas fa-award"></i></th>
            <th>1's char rank <i class="fas fa-list"></i></th>
            <th>2's mmr <i class="fas fa-award"></i></th>
            <th>2's char rank <i class="fas fa-list-ul"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for char in top_characters %}
            <tr>
                <td><img height="60px" src="{{ request.app.url_path_for('static', path='/characters_icons/'+char.name+'.png') }}"></td>
                <td><h4>{{ char.name }}</h4></td>
                <td><h4>{{ char.wins }}</h4></td>
                <td><h4>{{ char.OvO_MMR }}</h4></td>
                <td><h4>{{ char.OvO_rank }}</h4></td>
                <td><h4>{{ char.TvT_MMR }}</h4></td>
                <td><h4>{{ char.TvT_rank }}</h4></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<hr class="mt-4">

<h3>1v1 <img width="35px" src="{{ request.app.url_path_for('static', path='/images/fight1.png') }}"></img></h3>
<div class="row">
    <div class="col-lg-05">
        <img height="60px" src="{{ request.app.url_path_for('static', path='/characters_icons/'+OneVsOne_infos.char+'.png') }}">
    </div>
    <div class="col-lg-3"><h4>{{ OneVsOne_infos.char }}</h4></div>
    <div class="col-lg-2"><h4>{{ OneVsOne_infos.rating }} <small class="text-muted">mmr</small></h4></div>
    <div class="col-lg-3"><h4>{{ OneVsOne_infos.rank }} <small class="text-muted">global #</small></h4></div>
    <div class="col-lg-2"><h4>{{ OneVsOne_infos.ranked_win }} <small class="text-muted">wins</small></h4></div>
</div>

<hr class="mt-4">

<h3>2v2 <img width="35px" src="{{ request.app.url_path_for('static', path='/images/fight.png') }}"></img></h3>
<div class="row">
    <div class="col-lg-05">
        <img height="60px" src="{{ request.app.url_path_for('static', path='/characters_icons/'+TwoVsTwo_infos.char+'.png') }}">
    </div>
    <div class="col-lg-3"><h4>{{ TwoVsTwo_infos.char }}</h4></div>
    <div class="col-lg-2"><h4>{{ TwoVsTwo_infos.rating }} <small class="text-muted">mmr</small></h4></div>
    <div class="col-lg-3"><h4>{{ TwoVsTwo_infos.rank }} <small class="text-muted">global #</small></h4></div>
    <div class="col-lg-2"><h4>{{ TwoVsTwo_infos.ranked_win }} <small class="text-muted">wins</small></h4></div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

{% block javascript %}
<script>
    jQuery(document).ready(function () {
        jQuery('#characters').DataTable({
            "buttons": [
                {
                    extend: 'searchPanes',
                    className: 'btn btn-danger'
                }
            ],
            "lengthMenu": [3, 5, 10]
        });
    });

    function progress() {
        // Get all the Meters
        const meters = document.querySelectorAll('svg[data-value] .meter');

        meters.forEach((path) => {
            // Get the length of the path
            let length = path.getTotalLength();
            // Get the value of the meter
            let value = parseInt(path.parentNode.getAttribute('data-value'));
            // Calculate the percentage of the total length
            let to = length * ((100 - value) / 100);
            // Trigger Layout in Safari hack https://jakearchibald.com/2013/animated-line-drawing-svg/
            path.getBoundingClientRect();
            // Set the Offset
            path.style.strokeDashoffset = Math.max(0, to);   path.nextElementSibling.textContent = `${value}%`;
        });
    }
    progress();
</script>
{% endblock %}

{% endblock %}