<style>
    .analyze {
        font-size: 1.8em;
        color: #592c66;
        font-weight: 600;
        margin: 0;
    }

    .ratio {
        font-size: 1.8em;
        font-weight: 600;
        margin: 0;
    }

    .ratio-win {
        color: #a063ab;
    }

    .ratio-loss {
        color: #FA3B7C;
    }

    .d-inline {
        display: inline!important;
        vertical-align: middle;
    }

    .table {
        margin-bottom: 0!important;
    }
</style>

{% if error %}
    <h5>Error while analyzing previous matches</h5>
{% else %}
<div class="table-responsive-lg">
    <table class="table table-hover table-borderless align-middle" style="width:100%">
        <tbody>
            <tr>
                {% for char, wr in winrates.items() %}
                    <td><h6 class="ratio ratio-win d-inline text-success">{{ wr.wins }}</h6>W</td>
                    <td><h6 class="ratio ratio-loss d-inline">{{ wr.losses }}</h6>L</td>
                    <td><img class="d-inline" height="50px" src="{{ request.app.url_path_for('static', path='/characters_icons/'+ char +'.png') }}"></td>
                    {% if not loop.last %}<td>&#9900;</td>{% endif %}
                {% endfor %}
                <span>Last {{ matches_analyzed }} games matchup against:</span>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}